:root{
  /* background-color: rgb(48, 47, 47); */
  --card-bg: rgba(128, 128, 128, 0.205);
  --card-bg-hover: rgba(128, 128, 128, 0.175);


  --navbar-height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;	
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(16, 16, 16); */
  /* background-color: rgb(13, 14, 15); */
  /* background-color: black; */
  /* background-image: linear-gradient(90deg,black 0 60%, rgb(0, 33, 33)); */
  background-image: linear-gradient(90deg,black 50%, rgb(0, 13, 13), rgb(0, 33, 33));

  color: white;
}

.layout-navbar{
  position: sticky;
  height: var(--navbar-height);
  top: 0;
}

.layout-main{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
  margin: 20px auto;
}

.container-link{
  scroll-margin-top: var(--navbar-height)
}

@media (min-width: 700px){
  .layout-main{
    /* width: 70%; */
    width: 76%;
    margin: 20px auto;
    gap: 50px;
  }
}