---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/portfolio/public/favicon.png" type="image/x-icon">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Bryandev</title>
	</head>
	<body>
		<header class="layout-navbar">
			<slot name="navbar"/>
		</header>

		<main class="layout-main">
			<slot />
		</main>

		<footer>
			<slot name="footer"/>
		</footer>
	</body>
</html>
